In [19]:
import pandas as pd
d=pd.read_csv(r"C:\Users\Tcs\Downloads\employees - employees.csv")
#Get the table data
print("Get the table data:\n")
print(d)
#print(d.to_string())
df=pd.DataFrame(d)
#print(df)
#Get the column heading
print("\nGet the column heading\n",df.columns)
#Get the shape-(no.of rows,no.of columns)
print("\nGet the shape-(no.of rows,no.of columns)\n",df.shape)
#Get particular column values
print("\nGet particular column values\n",df['Gender'])
#Extract/slice teh values-[including this row,excluding this row]
print("\nExtract/slice the table values-[including this row,excluding this row]\n",df[2:5])
#Get the partiucular row values-through row number identification
print("\nGet the particular row values-through row number identification\n",df.loc[7])
#Get the partiucular row values-through'Roll number'identification
print("\nGet the pariticular row values-through'Gender'identification\n",d.loc[d['Gender']==105])
#make an average of total marks
df=d['Salary']/5
print("\nMake an average of total Salary:\n",df)

Get the table data:

    First Name  Gender  Start Date Last Login Time  Salary  Bonus %  \
0      Douglas    Male    8/6/1993        12:42 PM   97308    6.945
1       Thomas    Male   3/31/1996         6:53 AM   61933    4.170
2        Maria  Female   4/23/1993        11:17 AM  130590   11.858
3        Jerry    Male    3/4/2005         1:00 PM  138705    9.340
4        Larry    Male   1/24/1998         4:47 PM  101004    1.389
..         ...     ...         ...             ...     ...      ...
995      Henry     NaN  11/23/2014         6:09 AM  132483   16.655
996    Phillip    Male   1/31/1984         6:30 AM   42392   19.675
997    Russell    Male   5/20/2013        12:39 PM   96914    1.421
998      Larry    Male   4/20/2013         4:45 PM   60500   11.985
999     Albert    Male   5/15/2012         6:24 PM  129949   10.169

    Senior Management                  Team
0                True             Marketing
1                True                   NaN
2               False               Finance
3                True               Finance
4                True       Client Services
..                ...                   ...
995             False          Distribution
996             False               Finance
997             False               Product
998             False  Business Development
999              True                 Sales

[1000 rows x 8 columns]

Get the column heading
 Index(['First Name', 'Gender', 'Start Date', 'Last Login Time', 'Salary',
       'Bonus %', 'Senior Management', 'Team'],
      dtype='object')

Get the shape-(no.of rows,no.of columns)
 (1000, 8)

Get particular column values
 0        Male
1        Male
2      Female
3        Male
4        Male
        ...
995       NaN
996      Male
997      Male
998      Male
999      Male
Name: Gender, Length: 1000, dtype: object

Extract/slice the table values-[including this row,excluding this row]
   First Name  Gender Start Date Last Login Time  Salary  Bonus %  \
2      Maria  Female  4/23/1993        11:17 AM  130590   11.858
3      Jerry    Male   3/4/2005         1:00 PM  138705    9.340
4      Larry    Male  1/24/1998         4:47 PM  101004    1.389

  Senior Management             Team
2             False          Finance
3              True          Finance
4              True  Client Services

Get the particular row values-through row number identification
 First Name                 NaN
Gender                  Female
Start Date           7/20/2015
Last Login Time       10:43 AM
Salary                   45906
Bonus %                 11.598
Senior Management          NaN
Team                   Finance
Name: 7, dtype: object

Get the pariticular row values-through'Gender'identification
 Empty DataFrame
Columns: [First Name, Gender, Start Date, Last Login Time, Salary, Bonus %, Senior Management, Team]
Index: []

Make an average of total Salary:
 0      19461.6
1      12386.6
2      26118.0
3      27741.0
4      20200.8
        ...
995    26496.6
996     8478.4
997    19382.8
998    12100.0
999    25989.8
Name: Salary, Length: 1000, dtype: float64